@import "../../consts/colors";

.formGroup {
  width: 100%;
}

.formItem {
  padding: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.errorMessage {
  color: $red;
  font-size: small;
  padding-left: 0.5em;
  padding-top: 0.2em;
}
.emphasize {
  color: $red;
}
