@import "../../consts/colors.scss";

.formItem {
  padding: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
}
.formGroup {
  width: 100%;
}
.title {
  text-transform: uppercase;
  text-align: left;
  flex: 1;
  min-width: 115px;
  color: $blue;
  opacity: 0.8;
  margin: 10px 0;
}

.body {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 130px;
  margin: 10px 0;
}
.errorMessage {
  color: $red;
  font-size: small;
  padding-left: 0.5em;
  padding-top: 0.2em;
}
.emphasize {
  color: $red;
}
.errorSpace {
  width: 30%;
  font-size: small;
}