@import "../../styles/colors";
@import "../../styles/fontWeights";

.box {
  width: 50%;
  margin: 30px auto;
  padding: 1rem 2rem;
  box-shadow: rgb(235, 235, 235) 0px 0px 5px;
  border-radius: 4px;
  background-color: $whiteIceGreen;
  .title {
    color: $green;
    margin: 0 auto;
    font-size: 40px;
    font-weight: $medium;
  }
}