@import "../../consts/colors.scss";

.box {
  width: 50%;
  margin: 5vh auto;
  padding: 1em 2em;
  box-shadow: rgb(235, 235, 235) 0px 0px 5px;
  border-radius: 3px;
  background-color: $whiteIceGreen;
  .title {
    color: $green;
    margin: 0 auto;
    font-weight: 400;
  }
  .description {

  }
}