$black: #000;
$white: #fff;
$blue: #355990;
$darkblue: #1E3B68;
$silver: #D8D8DA;
$sundownRed: #ffb2b2;
$whiteIceGreen: #f0fcf3;
$lightsilver: #f7f7f7;
$orange: #ff8e1d;
$green: #7cc580;
$red: #FF0000;